{{#each applications as |application|}}
  {{application-tile application=application}}
{{/each}}


<!-- <ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle">speaker_notes</i>
    <span class="title">{{application-list applications=model.user.[0].applications}}</span>
    <p>{{user.post}}</p>
  </li>
</ul> -->
