<div class="posts">
  {{#link-to 'post' application.post.id}}
  <h5>{{application.post.title}} by {{application.post.user.firstName}} {{application.post.user.lastName}}</h5>
  {{/link-to}}
  <p>{{application.msg}}</p>
</div>
