{{postboard-map posts=filteredList center=center}}
<h2>Current Jobs: </h2>
{{sorting-buttons sendOption="changeSorting" sendFilter="changeFilter" sendRadius="changeRadius"}}
<div>
{{#each filteredList as |post|}}
{{post.distance}}
  {{post-tile post=post}}
{{/each}}
</div>
