<label for="">Show: </label>
<button type="button" {{action 'sendOption' 5 }}>5</button>
<button type="button" {{action 'sendOption' 10 }}>10</button>
<button type="button" {{action 'sendOption' 20 }}>20</button>
