@import 'materialize';
@import 'ember-cli-materialize';

.backgroundImage {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url(https://4.bp.blogspot.com/-RK_kKy37FRw/U0uOGnKotwI/AAAAAAAAyR8/xT70kDE0dwI/s0/2nd+Prague+in+Tilt-Shift_HD.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.backgroundImage2 {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  padding-top: 20px;
  display: block;
  background-image: url(https://images.unsplash.com/photo-1449157291145-7efd050a4d0e);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  // margin-left: 20px;
  // margin-right: 20px;
}
.post {
  border: 1px dotted black;
}

.profileBox {
  background-color: white;
  border: black dotted 1px;
  padding: 20px;
  margin-top:20px;
}

#postboard-map{
  width: 800px;
  height: 500px;
}
#post-map{
  width: 250px;
  height: 250px;
}
