<h2 id="title">SOLVR</h2>
{{#link-to 'postboard'}}
<h1>Posts</h1>
{{/link-to}}
{{#link-to 'admin'}}
<h1>Admin</h1>
{{/link-to}}
{{outlet}}
{{#if session.isAuthenticated}}
  <button {{action 'signOut'}}>
  {{fa-icon 'sign-out'}} Sign Out
  </button>
{{/if}}
