<!-- <div class="content"> -->

<div class="navbar-fixed nav">
    <nav class="transparent">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Solvr</a>
        <ul class="right hide-on-med-and-down">
          <li>
            {{#link-to 'sign-up' class='list-group-item'}}
              Sign Ups
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'sign-in' class='list-group-item'}}
              Sign In
            {{/link-to}}
          </li>
          <li>
            {{#if session.isAuthenticated}}
              {{#link-to 'profile' session.uid}}
                profile
              {{/link-to}}
              <a {{action 'signOut'}}>
                {{fa-icon 'sign-out'}} Sign Out
              </a>
            {{/if}}
          </li>
          <li>
            {{#link-to 'postboard'}}
              Posts
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'index'}}
              Home
            {{/link-to}}
          </li>
        </ul>
      </div>
    </nav>
  </div>
<!-- </div> -->

<div class="container">
  {{outlet}}
</div>

<footer>
</footer>

{{md-modal-container}}
